#hiitemiyou .main {
    display: flex;
    border-color: black;
    border: 1px solid;
}

#hiitemiyou .main .right-side .title {
    background-image: url("../image/title.png");
    background-repeat:no-repeat;
    background-position:50%;
    background-size:contain;  
}

#hiitemiyou .main .right-side .explain {
    text-align: center;
}

#hiitemiyou .footer {
    width: 869px;
    display: flex;
}

#hiitemiyou .footer .counter {
    width: 70%;
    text-align: right;
}

#hiitemiyou .footer .fps {
    width: 20%;
    text-align: right;
}
